img{
    width:50%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right:auto ;
    transition: 1s;
}
img:hover{
    transition: 2s;
    transform: scale(1.2,1.1);
}
h3,h4{
    text-align: center;
}