<div>
    <button (click)="About() "  class="btn btn-primary mx-3 my-2">About</button>
    <button (click)="contactus()" class="btn btn-primary mx-3 my-2">Contact</button>
    <button (click)="operation()" class="btn btn-primary mx-3 my-2">operation</button>
    <button (click)="Services()" class="btn btn-primary mx-3 my-2">service</button>
    <h3>Demo on Home page</h3>
    <p>For a Web user, the home page is the first Web page that is displayed after starting a Web browser like Netscape's Navigator or Microsoft's Internet Explorer.<p> 
       <p> The browser is usually preset so that the home page is the first page of the browser manufacturer.<p>
        <p> However, you can set it to open to any Web site.
    </p>
</div>
