


<!-- <div>
  <h1 class="text-center">Demo on dropdown</h1>
</div>

<div class="con">
    <ul class="menu">
      <li><a href ="#">Home</a></li>
      <li><a href="#">products</a>
        <ul class="menu2">
          <li><a routerLink="pen">pen</a></li>
          <li><a routerLink="Note">Note</a></li>
          <li><a routerLink="Book">Book</a>
            <ul class="menu3">
              <li><a href="#">Tamil</a></li>
              <li><a href="#">English</a></li>
              <li><a href="#">Maths</a></li>
              <li><a href="#">Science</a></li>
              <li><a href="#">Social science</a></li>
           </ul>
          </li>
          <li><a routerLink="Mobile">Mobile</a></li>
          <li><a routerLink="Laptop">Laptop</a></li>
       </ul>
      </li>
      
      <li><a href="#">Contacts</a></li>
      <li><a href="#">Services</a></li>
       <li><a href="#">Help</a></li>
    </ul>   
</div>
</div>
  -->

<app-header></app-header>

<router-outlet></router-outlet>
